**.DS_Store
node_modules/
data/

public/logs/
public/quizzes/

scripts/quiz_generators/*_raw*.txt
scripts/quiz_generators/cram*
scripts/quiz_generators/*_c.py
scripts/quiz_generators/*_2.py
scripts/quiz_generators/OutputFiles/

